form {
    width: 350px;
    padding: 20px;
    border: 1px solid #655d5d;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.error {
    color: red;
}

#noteCount {
    font-size: 13px;
    margin-top: 3px;
}

#confirmBox {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #888;
    display: none;
}

#success {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}